:root{
    --bg-color: white;
    --second-bg-color: #f9f9f9;
    --text-color: black;
    --second-color: #051139da;
    --main-color: goldenrod;
    --other-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--second-color);
    
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: var(--main-color);
}

.home {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 150px;
    background-image: url(../images/restautant_floor.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.menu {
    background-image: url(../images/food_menu.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 30%;
    line-height: 140px;
}

.reviews {
    background-image: url(../images/burger_chips.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 20%;
    line-height: 150px;
}
.bookings {
    background-image: url(../images/tables.jpg);
    background-size: cover;
    height: 120%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
}
form {
    width: 500px;
    margin: 0 auto;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 2);
    padding: 30px;
}
.about {
    background-image: url(../images/about.jpg);
    background-size: cover;
    height: 80%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 60px;
}
.about p{
    font-size: 30px;
    font-weight: 100;
    line-height: 1px;
    color: var(--main-color);
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--other-color);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--second-bg-color);
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--other-color);
}

input[type="submit"] {
    background-color: var(--other-color);
    color: var(--second-bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--second-color);
    color: var(--second-bg-color);
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid #ccc;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--second-color);
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: var(--second-bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
nav li a:hover {
    color: var(--main-color)
}

.icon a:hover{
    transform: translateY(-10px);
    cursor: crosshair;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust to desired number of columns */
    grid-gap: 10px; /* Adjust to desired gap between cards */
    padding-left: 200px;
}
.card {
    position: relative;
    text-overflow: wrap;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.9s;
    border-radius: 5px;
  }
  
  .card-front {
    background-color: var(--second-bg-color);
    color: var(--other-color);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
  }
  .card-back {
    background-color: var(--second-color);
    color: var(--second-bg-color);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    line-height: 20px;
  }
  .card-back p {
    font-size: 20px;
    text-align: center;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  